# Intellij
*.iml
.idea

# npm
node_modules
# ロックファイルは監視

# build
*.js.map
*.css.map

# js // リリースのみに入れる
main.js
styles.css

# data
data.json

# trush
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.trash