/* ----------------------------------------------  */
/* Custom CSS Snippet "Card View & Attention Pane" */
/* ----------------------------------------------  */
/* v0.4  
- fixed sidebar tab background color
*/

// variables
$debug: false;


/* ----------------------------------------------  */
/* for debugging                                   */
/* ----------------------------------------------  */
body {
    @if $debug {
        color: red;
    }
}


/* ----------------------------------------------  */
/* custom css properties                          */
/* ----------------------------------------------  */
:root {
    --cardview-side-padding: 0px;
    --cardview-preview-mode-minimum-size: 15px;
    --cardview-card-boarder-radius: 8px;

    --cardview-embedded-title-font-editor: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --cardview-embedded-title-font-preview: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --cardview-embedded-title-font-size: 27px;
    --cardview-embedded-title-border-right-width: 6px;
    --cardview-embedded-title-boarder-radius: 5px;
    --cardview-embedded-title-border-padding-top: 0px;
    --cardview-embedded-title-border-padding-bottom: 0px;

    --cardview-embedded-title-space-btw-card: -1px;
    --cardview-embedded-title-border-right-color: #e34c26;
    --cardview-embedded-title-border-right-color-edit: red;
    --cardview-embedded-title-border-right-color-preview: green;
    /* --cardview-debug-color-embedded-note-title-edit: red; */
    /* --cardview-debug-color-embedded-note-title-preview: #198415; */

    /* for debugging */
    --cardview-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);

}

.theme-dark {
    --cardview-card-color: #000000;
    --cardview-card-color-active: #474747;
    --cardview-card-color-non-active: #252525;

    --cardview-background-color-active: #919191;
    --cardview-background-color-non-active: #050505;
    --cardview-shadow-active: 0px 0px 10px rgba(0, 0, 0, 0.5);
    --cardview-shadow-non-active: 0px 0px 0px rgba(0, 0, 0, 0.7);

    --header-color-background: #000000;
}

.theme-light {
    --cardview-card-color: #e6e6e6;
    --cardview-card-color-active: #ffffff;
    --cardview-card-color-non-active: #e6e6e6;

    --cardview-background-color-active: #ffffff;
    --cardview-background-color-non-active: #dfdfdf;
    --cardview-shadow-active: 0px 0px 10px rgba(128, 128, 128, 0.3);
    --cardview-shadow-non-active: 0px 0px 15px rgba(128, 128, 128, 0.25);

    --header-color-background: #f2f2f2;
}


$plugin: true;


body.plugin-card-view-mode {
    
    /* ----------------------------------------------  */
    /* card view basic feature                         */
    /* ----------------------------------------------  */
    .CodeMirror-sizer .CodeMirror-lines>div[role="presentation"],
    .markdown-preview-view .markdown-preview-sizer.markdown-preview-section {
        /* sepfify how to color padding */
        background-clip: border-box;
        background-color: var(--cardview-background-color-active);
        box-shadow: var(--cardview-shadow);
        border-radius: var(--cardview-card-boarder-radius);
    
        /* modify space between card and embeded-note-title's header */
        margin-top: 15px !important;
        /* space under card */
        padding-bottom: var(--cardview-preview-mode-minimum-size) !important;
    }
    
    /* ----------------------------------------------  */
    /* preview mode                                    */
    /* ----------------------------------------------  */
    /* preview mode modificaition */
    .markdown-preview-view .markdown-preview-sizer.markdown-preview-section {
        padding-right: 20px;
        padding-left: 18px;
    }
    
    /* preview mode margin*/
    .markdown-preview-view {
        padding-right: calc(var(--cardview-side-padding) + 26px);
        padding-left: calc(var(--cardview-side-padding) + 15px);
    }
    
    /* for metadata */
    .markdown-preview-view .markdown-preview-sizer.markdown-preview-section {
        padding-top: 15px;
    }
    
    
    
    /* ----------------------------------------------  */
    /* editor mode                                     */
    /* ----------------------------------------------  */
    /* edit mode modification */
    .CodeMirror-sizer .CodeMirror-lines>div[role="presentation"] {
        padding-right: 5px;
        margin-left: 15px;
        margin-right: 26px;
    
    }
    
    /* editor mode margin */
    .view-content .markdown-source-view.mod-cm5 {
        padding-right: var(--cardview-side-padding);
        padding-left: var(--cardview-side-padding);
    }
    
    
    
    /* ----------------------------------------------  */
    /* remove pane boundaries                          */
    /* ----------------------------------------------  */
    .workspace-split.mod-vertical>*>.workspace-leaf-resize-handle,
    .workspace-split.mod-left-split>.workspace-leaf-resize-handle {
        background: transparent;
        border-right: 1px solid var(--background-modifier-border);
        width: 2px !important;
    }
    
    /* right boundary */
    .workspace-split.mod-vertical>.workspace-leaf {
        padding: 0px;
    }
    
    /* space between header titles */
    .workspace-split.mod-vertical>*>.workspace-leaf-resize-handle {
        border-right: 0px !important;
    }
    
    /* hide scrollbar */
    ::-webkit-scrollbar {
        display: none !important;
    }
    
    
    
    /* ----------------------------------------------  */
    /* attention-pane                                  */
    /* ----------------------------------------------  */
    /* change color of active pane */
    /* background color of active pane */
    .workspace-leaf.mod-active .view-content {
        background-color: var(--cardview-background-color-active);
    }
    
    /* background color of non-active pane */
    /* workspace tabs have data-type properties, it's necessary to deny them */
    .workspace-split:not(.mod-right-split) .workspace-leaf:not(.mod-active) .workspace-leaf-content .view-content {
        background-color: var(--cardview-background-color-active);
    }
    
    /* active pane card color and shadow */
    .workspace-leaf.mod-active .view-content .CodeMirror-sizer .CodeMirror-lines>div[role="presentation"],
    .workspace-leaf.mod-active .view-content .markdown-preview-view .markdown-preview-sizer.markdown-preview-section {
        background-color: var(--cardview-card-color-active);
        box-shadow: var(--cardview-shadow-active);
    }
    
    /* non-active pane card color and shadow */
    .workspace-leaf:not(.mod-active) .view-content .CodeMirror-sizer .CodeMirror-lines>div[role="presentation"],
    .workspace-leaf:not(.mod-active) .view-content .markdown-preview-view .markdown-preview-sizer.markdown-preview-section {
        background-color: var(--cardview-card-color-non-active);
        box-shadow: var(--cardview-shadow-active);
    }
    
    
    
    /* ----------------------------------------------  */
    /* embeded note modification                       */
    /* ----------------------------------------------  */
    /* title position modification */
    .markdown-embed-title {
        margin-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        font-size: 20px;
        height: 2.3rem;
    }
    
    /* boundary margin */
    .markdown-embed .markdown-preview-view {
        padding: 0px 10px 10px 10px;
    }
    
    /* link icon */
    .file-embed-link svg,
    .markdown-embed-link svg {
        width: 16px;
        opacity: 1;
    }
    
    
    /* ----------------------------------------------  */
    /* horizontal line modification                    */
    /* ----------------------------------------------  */
    .markdown-preview-view hr::after {
        content: '§';
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%) rotate(60deg);
        transform-origin: 50% 50%;
        padding: 0.5rem;
        color: var(--text-sub-accent);
    }
    
    .workspace-leaf.mod-active .view-content .markdown-preview-view hr::after {
        background-color: var(--cardview-card-color-active) !important;
    }
    
    .workspace-leaf:not(.mod-active) .view-content .markdown-preview-view hr::after {
        background-color: var(--cardview-card-color-non-active) !important;
    }
    
    /* ----------------------------------------------  */
    /* popover modification                            */
    /* ----------------------------------------------  */
    .popover.hover-popover {
        background-color: var(--cardview-background-color-active);
    
        .markdown-embed .markdown-preview-view .markdown-preview-sizer.markdown-preview-section {
            background-color: var(--cardview-card-color-non-active);
        }
    
        hr::after {
            background-color: var(--cardview-card-color-non-active) !important;
        }
    }

    // Credits to https://github.com/TClark1011
    img {
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        background-color: var(--background-secondary);
        /* Background color so PNGs with transparent backgrounds don't look weird */
    }
    
}


body.plugin-card-view-mode-cardtitle {

    /* ----------------------------------------------  */
    /* embeded note title plugin modification          */
    /* ----------------------------------------------  */
    /* editor mode title */
    
    &.embedded-note-titles {
    
        .CodeMirror-scroll>h1 {
            // /* たぶんここ↓をいじればサイズ変更できる */
            // width: 400px;
    
            margin-left: 15px !important;
            margin-right: 20px !important;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: var(--cardview-card-color-non-active);
        }
    
        // /* editor mode title card */
        h1[id*="edit"] {
            color: var(--cardview-debug-color-embedded-note-title-edit);
    
            font-family: var(--cardview-embedded-title-font-editor-edit);
            font-size: var(--cardview-embedded-title-font-size) !important;
            font-weight: bold;
    
            /* margin-bottom: calc(var(--cardview-embedded-title-space-btw-card) - 40px) !important; */
            margin-top: 15px;
    
    
            padding-top: var(--cardview-embedded-title-border-padding-top);
            padding-bottom: var(--cardview-embedded-title-border-padding-bottom);
            padding-left: 18px !important;
    
    
            background: var(--header-color-background);
            border-left: var(--cardview-embedded-title-border-right-width) solid var(--cardview-embedded-title-border-right-color-edit);
            border-radius: var(--cardview-embedded-title-boarder-radius);
        }
    
        // /* preview mode title card */
        .markdown-preview-view.is-readable-line-width>h1 {
            color: var(--cardview-debug-color-embedded-note-title-preview);
    
            font-family: var(--cardview-embedded-title-font-preview);
            font-size: var(--cardview-embedded-title-font-size) !important;
            font-weight: bold !important;
    
    
            margin-bottom: calc(var(--cardview-embedded-title-space-btw-card) + 11px) !important;
            margin-top: -5px;
            margin-left: 0px;
    
            padding-top: var(--cardview-embedded-title-border-padding-top);
            padding-bottom: calc(var(--cardview-embedded-title-border-padding-bottom) + 0px);
            padding-left: 18px !important;
            padding-right: 0px !important;
    
            background: var(--header-color-background);
            border-left: var(--cardview-embedded-title-border-right-width) solid var(--cardview-embedded-title-border-right-color-preview);
            border-radius: var(--cardview-embedded-title-boarder-radius);
        }
    
        // /* margin around fontmatter box */
        .frontmatter-container {
            margin-bottom: 13px;
        }
    }
}

